.git
.env/
.venv/
.idea/
.cache/
.vscode/*
.DS_Store
.pytest_cache

*.tmp
*.bak
*.pyc
*.log
*.ini
*.txt
*.lock
*.local

venv/
*/__pycache__/

core/chroma_db/chroma.sqlite3
output/logs/*
output/upload/*

docling_offline/

workspace/*
!workspace/.claude
!workspace/.claude/**

.env