.git
.env/
.venv/
.idea/
.cache/
.vscode/*
.DS_Store
.pytest_cache

*.tmp
*.bak
*.pyc
*.log
*.ini
*.txt
*.lock
*.local
!requirements.txt

venv/
*/__pycache__/

core/chroma_db/chroma.sqlite3
output/logs/*
output/upload/*
output/rag_upload/*

docling_offline/

workspace/*
!workspace/.claude
!workspace/.claude/**

.env
.milvus.db
dump.rdb
input/
inputs/
tmp/
node_modules/
