.git
.env
.venv
.idea
.cache
.vscode/*
.DS_Store
.pytest_cache

*.tmp
*.bak
*.pyc
*.log
*.ini
*.txt
*.lock
*.local

venv
__pycache__

backend/.idea/
backend/.venv/
backend/.env
backend/core/chroma_db/chroma.sqlite3
backend/output/logs/*
backend/output/upload/*

frontend/.idea/
frontend/node_modules/
frontend/dist/
